.tripcard__container {
  background-color: #fff;
  height: 576px;
  width: 400px;
  border-radius: 25px;
  /* margin-top: 64px; */
  position: relative;
  overflow: hidden;
}

.tripcard__title {
  margin: 10px 0 25px;
}

.tripcard__title:hover {
  cursor: pointer;
  font-size: 28px;
  color: #676767;
}

.tripcard__image-container {
  height: 292px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
}

.tripcard__title-container {
  display: flex;
  align-items: center;
  gap: 9px;
}

.tripcard__click-here-icon {
  height: 17px;
}

.tripcard__image {
  /* height: 292px;
  width: max-content; */
  width: 100%; /* Scale the image to fit the container width */
  height: 100%; /* Ensures the image fills the container without distortion */
  object-fit: cover;
}

.tripcard__bookmark-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -280px;
  right: -347px;
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 8px;
}

.tripcard__bookmark-container:hover {
  cursor: pointer;
}

.tripcard__bookmark_unmarked {
  position: relative;
  /* top: -289px;
  right: -316px; */
  height: 36px;
  width: 36px;
}

.tripcard__info {
  padding: 20px 24px 24px 24px;
}

.tripcard__date {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #b6bcbf;
}

.tripcard__edit-icon {
  width: 40px;
}

.tripcard__edit-icon:hover {
  cursor: pointer;
  width: 42px;
}

.tripcard__title {
  font-family: "Roboto Slab";
  font-size: 26px;
}

.tripcard__description {
  font-family: "Roboto", sans-serif;
}

.tripcard__footer {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.4px;
  color: #b6bcbf;
}

.tripcard__edit-container {
  display: flex;
  justify-content: space-between;
}

.tripcard__link {
  text-decoration: none;
  color: inherit;
}
